.button {
  position: relative;
  padding: 11px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
  border-radius: 5px;
  background-color: var(--green);
  overflow: hidden;
  transition: var(--transition);
  &:hover {
    background-color: var(--grey);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
  }
  &:active {
    transform: translateY(2px);
  }
  &.grey {
    background-color: var(--grey);
    &:hover {
      background-color: var(--green);
    }
  }
  &.row {
    display: flex;
    align-items: center;
  }
  &.wide {
    width: 100%;
  }
  &.loading,
  &.disabled {
    pointer-events: none;
    background-color: var(--grey);
  }
  &__icon {
    margin-left: 12px;
    &.github {
      width: 23px;
      min-width: 23px;
    }
  }
}
