.auth {
  padding: 20vh 30px 30px;
  &__title {
    max-width: 256px;
    margin: 12px 0 38px;
    color: var(--grey-dark);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__image {
    margin-top: 85px;
  }
  &__copyright {
    color: rgba(0, 0, 0, .4);
    font-size: 16px;
    line-height: 1.18;
  }
}