.user {
  &.--inline {
    display: flex;
    align-items: center;
    & .user__pic {
      margin-right: 6px;
    }
    & .user__name {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__pic {
    color: var(--purple);
  }
  &__name {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1;
  }
}