.nav {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:hover {
      color: var(--green);
    }
    &.--home {
      width: 24px;
    }
    &.--logout {
      width: 25px;
    }
    &.--profile {
      & .nav__link {
        display: block;
        margin: 0 20px;
        color: var(--green);
      }
    }
  }
}