:root {
  --bg-black: #101010;
  --bg-placeholder: #DEDEDE;

  --scrollbar: #AFAFAF;

  --white: #fff;
  --black: #000;
  --green: #31AE54;

  --arrow-color: #404040;

  --transition: .25s ease;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  color: #262626;
  font-size: 14px;
  line-height: 1.8;
  font-family: Inter, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img, svg {
  display: block;
}

img {
  max-width: 100%;
}

svg {
  transition: color var(--transition), fill var(--transition), stroke var(--transition);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  color: inherit;
}

button {
  padding: 0;
  border: 0;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

#app,
.page {
  min-height: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@keyframes rotate {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
