.slide {
  max-width: 375px;
  padding: 8px 0 32px;
  border-radius: 10px;
  background-color: #fff;
  &__header {
    padding: 0 8px;
  }
  &__progress {
    margin-bottom: 12px;
  }
  &__user {
    padding: 0 4px;
    & .avatar {
      width: 32px !important;
      height: 32px !important;
    }
    & .user__pic {
      margin-right: 12px !important;
    }
    & .user__name {
      font-size: 14px !important;
    }
  }
  &__content {
    max-height: 500px;
    margin: 13px 0 24px;
    padding: 18px 27px 18px 18px;
    font-size: 14px;
    line-height: 1.57;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    overflow-y: auto;
    & p + p {
      margin-top: 14px;
    }
  }
  &__button {
    max-width: 270px;
    margin: 24px auto 0;
  }
}